#header{
    width: 100%;
    height: 20%;
    border: solid black 3px;
    text-align: center;
    size: 16;
}

.left, .right{
    width: 20%;
    text-align: center;
    margin-top: 20px;
    height: 290px;
    border: solid black 3px;
    clear: none;

}

.right{
    float: right; 
}

.left{
    float: left;
}
.middle{
    margin-top: 5%;
    margin-left: 390px;
}

#map{
    padding: 10px;
    border: solid black: 3px;
}

#citySearch{
    margin-top: 57.5px;
}

#zipSearch{
    margin-top: 57.5px;
}

#footer{
    margin-top: 260px;
}

#stateCont{
    margin-top: 57.5px;
}

#cityCont{
    margin-top: 57.5px;
}

#totalCont{
    margin-top: 20px;
}



